<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title - My ASP.NET MVC Application</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>
	<body>
		<a class="github-link" href="https://github.com/jamesfoster/codethoughts">
			<img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
		</a>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@Url.Action("Index", "Home", new { Area = "" })">codethoughts.co.uk</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				@RenderSection("featured", required: false)
			</div>

			<div class="row">
				@RenderBody()
			</div>

			<div class="row">
				<div class="pull-left">
					<p>&copy; @DateTime.Now.Year - James Foster</p>
				</div>
				<div class="pull-right">
				</div>
			</div>
		</div>

		@Scripts.Render("~/bundles/jquery")
		@RenderSection("scripts", required: false)
	</body>
</html>