@using CodeThoughts.Model
@model IEnumerable<CodeThoughts.Model.Post>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<ol id="blog-container" class="unstyled">
	@foreach (var post in Model)
	{
		<li class="post">
			<h4>
				<a href="@Url.Action("Edit", "Post", new { id = post.Id })">@post.Title</a>
			</h4>
			<small class="muted">
				Posted on @post.DateCreated.ToString("MMMM dd yyyy")
			</small>
			<p class="content">
				@Html.Raw(post.ContentHTML)
			</p>
		</li>
	}
</ol>