@model CodeThoughts.Models.ChangePasswordModel

@{
	ViewBag.Title = "Change Password";
}

<h1>
	@ViewBag.Title.
	<small>Use this form to change your password.</small>
</h1>

<p class="message-info">
	Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.ValidationSummary()

	<fieldset>
		<legend>Change Password Form</legend>

		<div class="control-group">
			<label class="control-label" for="@Html.IdFor(m => m.OldPassword)">
				@Html.DisplayNameFor(m => m.OldPassword)
			</label>
			<div class="controls">
				@Html.PasswordFor(m => m.OldPassword)
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="@Html.IdFor(m => m.OldPassword)">
				@Html.DisplayNameFor(m => m.NewPassword)
			</label>
			<div class="controls">
				@Html.PasswordFor(m => m.NewPassword)
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="@Html.IdFor(m => m.ConfirmPassword)">
				@Html.DisplayNameFor(m => m.ConfirmPassword)
			</label>
			<div class="controls">
				@Html.PasswordFor(m => m.ConfirmPassword)
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Change password</button>
		</div>
	</fieldset>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}